// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: #373A3C;
$gray: #BFBFBF;
$dark-gray: #666666;
$blue: #4BB5E8;
$font-size-base: 24px;
$font-line-height-base: 26px;
$border: 1px solid rgba(0, 0, 0, 0.2);


html, body {
    height: 100%;
}


body {
 margin:0;
 padding:0;
}

.header {
padding: 21px 22px;
border-bottom: $border;

h1 {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  display: inline;
}

}

h2 {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 14px;
  line-height: 24px;
}

p {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 12px;
  line-height: 14px;
}
.main-content {
padding: 30px 22px 0px 30px;

}


.container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
}

.icons {
  height: 22px;
}




.center-img {
display: flex;
justify-content: center;
align-items: center;
border: $border !important;
}

.lg-box-1 {
  width: 90% !important;
  height: 90% !important;
}

.lg-box-2 {
  width: 93% !important;
  height: 93% !important;
}

/*
Popravek števila stolpcev na mobilnih napravah
*/
@media only screen and (max-width: 992px) {
  .mini-col {
    width: 20% !important;
}}
/**/


/**/
/*
@media only screen and (min-width: 992px) {
.col {padding-left: 0px !important;}
}
*/
.box {
    border: $border;
}


.square-100{
    position: relative;
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    overflow: hidden
}

.absolute-center {
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
text-align: center;

}

/**/
.rounded {
  cursor: pointer;
}
.on {
background: $blue;
border: 1px solid $blue !important;
}


/**/

label {
  color: $gray;
  font-size: 14px;
  line-height: 24px;
}

input {
  padding: 10px;
  border: $border;
  border-radius: 4px;
  width: 70%;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}


p.odjem {
color: $dark-gray;
font-size: 39px;
font-style: normal;
font-weight: 400;
line-height: 57px;
letter-spacing: 0em;
text-align: left;

span {
  margin-left: 5px;
  color: $gray;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
}

@media only screen and (max-width: 992px) {
  .col8{
  width: 33.33%;
  }}
@media only screen and (min-width: 993px) {
  .col8{
  width: 12.5%;
  }}


.col-md-3 {padding-left: 0px;}


.block {display:block;}
.none {display:none;}


/* The POPUP (background) */
#myPopup {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* POPUP Content */
.popup-content {
  background-color: #fefefe;
  margin: auto;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 0px 0px 4px 4px;
}


/*POPUP footer*/
.popup-footer {
border-top: $border;
display: flex;
justify-content: flex-end;
padding: 20px;
}


/*btn*/
.btn-outline-secondary {
margin-right:10px;
border: $border;
color: $primary-color;
padding: 6px 30px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
background-color: $blue !important;
border-color: $blue !important;
padding: 6px 50px;
}

.on{
  background-image: url(../images/checked.png);
      background-repeat: no-repeat;
      background-position: 95% 95%;
      color: white;
      background-size: 20px;


p {
      color: white;
}


}

.btn-up-down {
    display: flex;
    flex-flow: column;
}
